<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>cardBack.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>cardBg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,183},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>cardBg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,365},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>cardBg3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,547},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>edge1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,729},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>edge2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,911},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>edge3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1093},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
      <key>edge4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1275},{120,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,180}}</string>
        <key>sourceSize</key>
        <string>{120,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>card.png</string>
      <key>size</key>
      <string>{122,1456}</string>
      <key>textureFileName</key>
      <string>card</string>
    </dict>
  </dict>
</plist>
