<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>401_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{51,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,50}}</string>
        <key>sourceSize</key>
        <string>{51,50}</string>
      </dict>
      <key>101.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,1},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>102.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>401.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,1},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>iconBuff.png</string>
      <key>size</key>
      <string>{209,52}</string>
      <key>textureFileName</key>
      <string>iconBuff</string>
    </dict>
  </dict>
</plist>
